.home {
    display: flex;
    align-items: baseline;
}

.home > h1 {
    flex-grow: 1;
}

.home > form > button > i {
    font-size: 2em;
}

.indexLink {
    display: flex;
    flex-direction: column;
}

.indexLink a {
    font-weight: normal;
    margin-bottom: 1em;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 0.5em;
}

.indexLink p {
    margin:0;
}

.indexLink h3 {
    margin-bottom: 1em;
}

a.homeNotLoggedIn {
    opacity: 0.5;
    pointer-events: none;
}

.hostsFilter {
    display: flex;
    align-items: baseline;
}

.hostsFilter label {
    margin-right: 1em;
}

.hostsFilter input[type=text] {
    border-bottom: dotted;
    border-width: thin;
    flex-grow: 1;
}

.hostsFilter button {
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 5px;
    border: solid;
    border-width: thin;
}

.hostsList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.hostsList li {
    display: flex;
    align-items: baseline;
    margin-top: 0.5em;
}

.hostsList li > label {
    flex-grow: 1;
    margin-left: 1em;
}

.hostsList li.hostsNextPage {
    justify-content: center;
    margin-bottom: 1em;
}

.hostsNextPage button {
    font-weight: bold;
}

.hostsError label {
    margin-left: 1em;
    font-style: italic;
}html, body, div, span, h1, h2, h3, h4, p, i, b, a, ul, li, label, input, button {
    margin: 0;
    padding: 0;
}

h2, p {
    margin-bottom: 1em;
}

body {
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
  
a:hover {
  text-decoration: underline;
}

button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

label {
    white-space: nowrap;
}

input[type=text] {
    background: none;
    color: inherit;
    border: none;
    font-size: inherit;
    width:100%;
}

input[type=text]::placeholder {
    color: inherit;
    opacity: 1;
}

.formlink {
    display: inline;
    font-weight: bold;
}

.root-view {
    background-color: gainsboro;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
} 

@media screen and (min-width: 600px) {
    .root-view {
        width: 550px;
    }    
}

.content {
  padding: 1em;
}

.app-view {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

hr {
  border: none;
  margin: 0.5em 0 0.5em 0;
}

hr.line {
  border-bottom: solid;
  border-width: thin;
}:root {
  --heavy-color: steelblue;
  --light-color: aliceblue;
}


input:focus, button:focus, a:focus {
    outline-color: var(--heavy-color);
  }

.heavy {
  background-color: var(--heavy-color);
  color: var(--light-color);
  border-color: var(--heavy-color);
}

.light {
  background-color: var(--light-color);;
  color: var(--heavy-color);
  border-color: var(--heavy-color);
}