body {
    padding: 0;
    margin: 0;
}

a, p {
    text-decoration: none;
    margin: 0;
}

.inline {
    display: inline;
}

.heavy-bkg {
    background-color: steelblue;
}

.light-bkg {
    background-color: aliceblue;
}

.main-txt-col {
    color: steelblue;
}

.alt-txt-col {
    color: aliceblue;
}

.large-h {
    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
}

.small-h {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
}

.large-text {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.small-text {
    font-family: sans-serif;
    font-size: 1em;
    display: inline;
}

.small-text b {
    font-weight: bold;
}

.root-view {
    background-color: gainsboro;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.root-view div {
    width: 100%;
}

.root-view div:last-child {
    padding-bottom: 0;
}

.root-view div:first-child {
    padding-bottom: 0;
}

.hostlist {
    overflow: scroll;
}

.hostlist dl {
    margin: 0;
}

.hostlist dt {
    display: none;
}

.hosthandle {
    font-family: sans-serif;
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
}

.hostname {
    font-family: sans-serif;
    margin: 0;
    color: steelblue;
    font-size: 2em;
}