@using Meets.Controllers;
@using Meets.Services;
@using Microsoft.Extensions.Options

@model AppState;

@{
    ViewData["Title"] = "Home Page";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IOptions<Broker> Broker

@functions {
    string user() => Model.Name != null
        ? $"{Html.Encode(Model.Name)}"
        : "";

    string csrf() => $"'{Xsrf.GetAndStoreTokens(Context).RequestToken}'";

    string baseUrl() => $"{Broker.Value.UnAuthorized}";
}

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meets</title>
  <script src="~/app.js"></script>
  <script 
    id="entrypoint" 
    src="~/index.js" 
    data-anticsrf="@Xsrf.GetAndStoreTokens(Context).RequestToken" 
    data-username="@user()"
    data-publicbrokerurl="@baseUrl()"
    defer></script>
  <link rel="stylesheet" type="text/css" href="~/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
</body>
</html>